<%= render 'dashboard/merch_nav' %>

<h3>Discount Information</h3>

<h4>ID: <%= @discount.id %></h4>
<p>Percent Discount: <%= @discount.pct_discount %>%</p>
<p>Quantity Threshold: <%= @discount.qty_threshold %> units</p>